<div class="row justify-content-center">
  <h1>All our Bartenders:</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <% @bartenders.each do |bartender| %>
        <div class="bartender-card" style="width: 18rem;">
          <%= image_tag "bar_image.jpg", :alt => "Bartender", class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= bartender.user.first_name %></p></h5>
            <p class="card-text">Located in: <%= bartender.city %></p>
            <a href="/bartender/:id" class="btn btn-primary">Take a look</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
