<div class="container">
  <div id="bartenders-show">
    <div class="row justify-content-center">
      <div class="card-trip">
        <img src="images/drink">
        <div class="card-trip-infos">
          <div>
            <h2><%= @bartender.user.first_name %></h2>
            <%= @bartender.description %>
          </div>
          <h2 class="card-trip-pricing"><%= @bartender.city %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <div class="bartender-card-august">
      <div>
        <div class="card-product">
          <img src="drink.jpg" />
          <div class="card-product-infos">
            <h2>Product name</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="drink.jpg" />
          <div class="card-product-infos">
            <h2>Product name</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>
      <div class="card-august">
        <h3>Description</h3>
        <%= @bartender.description %>
      </div>
    </div>
  </div>
</div>
