// Define variables for your color scheme

// For example:
$gold: #C0B283;
$beige: #dcd0c0;
$gray: #373737;
$white: #F4F4F4;
$red: #FC4445;
$blue: #111322;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: grey;
