<div class= "container">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "bar_image.jpg" , :alt => "Close picture of bottles", class:"d-block w-100 banner-image"%>
          <div class="carousel-caption">
            <a href="/bartenders">Show bartenders</a>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "bartender.jpg", class:"d-block w-100 banner-image", :alt => "Picture of a bartender in action" %>
          <div class="carousel-caption">
            <a href="/bartenders">Show bartenders</a>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "bottles.jpg", class:"d-block w-100 banner-image", :alt => "picture of bar with no people" %>
          <div class="carousel-caption">
            <a href="/bartenders">Show bartenders</a>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "shadows-of-bottles.jpg", class:"d-block w-100 banner-image", :alt => "picture of bar with no people" %>
          <div class="carousel-caption">
            <a href="/bartenders">Show bartenders</a>
          </div>
        </div>
      </div>
  </div>
</div>
