
.bartender-card {
 background-color: $light-gray;
 color: $gray;
 margin-bottom: 10px;
}

.text {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

#map {

}
