.booking-card h1 {
  text-align: center;
  color: $gray;
}

.booking-card h1 strong {
  color: $red;
}

.headers {
  justify-content: center;
  text-align: center;
  padding: 15px;
  text-decoration: underline black;
  background-color: white;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.headers h1 {
  color: black;
  margin-top: 25px;
  font-size: 50px;
}

.headers h1 strong {
  color: $red;
}

.headers-homepage {
  height: 150px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $white;
  padding: 50px;
  border-radius: 8px;
}


.headers-homepage h1 {
  color: $black;
}
