.navbar-lewagon {
  justify-content: space-between;
  background-color: #f8f9fa;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
  width: 40px;
}

#icon-navbar {
  color: $red;
  margin-left: 25px;
}

.btn-bartender {
  padding: 4px;
  border-style: solid;
  border-color: grey;
  border-radius: 8px;
  color: white;
}

.btn-login {
  padding: 4px;
  border-style: solid;
  border-color: grey;
  border-radius: 8px;
  width: 80px;
  color: white;
}
